:root {
    --text-white: #f0f0f0;
    --text-gray: #555555;
    --text-black: #000000;

    --bg-color: #f4fafc;
    --bg-color-secondary: #e9f6fa;
    --bg-color-secondary-hover: #9cd4e7;
    --border-color: #d2ecf4;
    --border-color-hover: #3facd0;

    --box-shadow-color: #00121883;

    --button-primary: #03698c;
    --button-hover: #024b64;
    --base-image-width: 40rem;

    --main-color: #fff;

    /* Bordas */
    --border-radius: 0.5rem;
    --border-width: 0.125rem;

    /* Tamanhos de fonte */
    --font-title: 2.5rem;
    --font-subtitle: 2rem;
    --font-section: 1.5rem;
    --font-normal: 1rem;
    --font-small: 0.875rem;
    

    /* Espaçamentos */
    --xl: 2rem;
    --lg: 1.5rem;
    --md: 1rem;
    --sm: 0.5rem;
    --xs: 0.25rem;

    /* Tamanhos de ícones */
    --hamburger-icon-size: 2rem;
    --profile-icon-size: 2rem;
    --search-icon-size: 1.5rem;
    --social-icon-size: 1.5rem;
    --google-icon-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

.header_link {
    color: var(--text-black);
}

.header_link:hover {
    text-decoration: underline;
    color: var(--text-gray);
}

.card {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--bg-color-secondary);

    box-shadow: 1px 1px 10px var(--box-shadow-color);
    overflow: hidden;
}

body {
    display: grid;
    max-width: 100vw;
    min-height: 100vh;

    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

a {
    text-decoration: none;
}

/* Botão para uso geral */
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--button-primary);
    color: var(--text-white);
    border: none;
    border-radius: var(--border-radius);
    padding: calc(var(--sm) + var(--border-width)) calc(var(--md) + var(--border-width));
    font-size: var(--font-normal);
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover);
    border: var(--border-width) solid var(--button-hover);
    padding: var(--sm) var(--md);
}

/* Botão para uso geral mas com fundo transparente */
.button_inverse {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--button-primary);
    background-color: var(--bg-color);
    font-size: var(--font-normal);

    border: var(--border-width) solid var(--button-primary);
    border-radius: var(--border-radius);

    padding: var(--sm) var(--md);
    cursor: pointer;
}

.button_inverse:hover {
    background-color: var(--bg-color-secondary-hover);
    color: var(--text-black);
}

/* Input para uso geral*/
.input {
    border: none;
    background: none;
    flex: 1;
    padding: var(--sm);
}

.input::placeholder {
    color: var(--text-gray);
}

.input:focus {
    outline: none;
}

/** header */
header {
    max-width: 100vw;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo nav"
        "search search";
    gap: var(--sm);
    position: sticky;
    top: 0;
    z-index: 10000;

    background-color: var(--bg-color);
    padding: var(--sm);
    border-bottom: var(--border-width) solid var(--border-color);

    align-items: center;
}

.logo {
    grid-area: logo;
    font-size: var(--font-title);
}

.logo_link {
    color: var(--text-black);
}

.header_nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    gap: var(--sm);
}


.profile_link {
    grid-area: profile;
}

/* Botão do menu hamburguer */
.menu_button {
    z-index: 10001;
    background: none;
    border: none;
}

.header_menu {
    list-style: none;
}

/* Alternar entre os ícones */
.menu_icon {
    display: flex;
    width: var(--hamburger-icon-size);
    height: var(--hamburger-icon-size);
}

.close_menu_icon {
    display: none;
    width: var(--hamburger-icon-size);
    height: var(--hamburger-icon-size);
}

.menu_button.ativo .menu_icon {
    display: none;
}

.menu_button.ativo .close_menu_icon {
    display: flex;
}

/* Campo de busca */
.search_area {
    grid-area: search;
    display: flex;
    justify-content: flex-end;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem;

    box-shadow: none;
}

.search_button {
    background: none;
    border: none;
    cursor: pointer;
}

.search_icon {
    padding-right: var(--xs);
    width: var(--search-icon-size);
    height: var(--search-icon-size);
}

/* main */
main {
    grid-area: main;
    background-color: var(--main-color);
}

/** main - Index */
/* Introdução */
.main_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
        "introduction"
        "popular_categories"
        "categories"
        "bottom_area";
    gap: var(--md);
    padding: var(--md) var(--md);
}

.introduction {
    grid-area: introduction;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: var(--text-black);
    padding: 0 var(--md);
}

.introduction_title {
    font-size: var(--font-title);
    font-weight: bold;
    padding-bottom: var(--md);
}

.introduction_text {
    color: var(--text-gray);
    font-size: var(--font-normal);
    padding: var(--sm);
}

.introduction_image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    margin-top: var(--md);
}

.introduction_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.introduction_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--sm);
    flex-wrap: wrap;
    margin-top: var(--md);
}

/* Popular Categories */
.popular_categories {
    grid-area: popular_categories;
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.popular_categories_title {
    font-size: var(--font-subtitle);
    margin-bottom: var(--sm);
}

.popular_categories_list {
    display: grid;
    align-items: center;
    justify-content: center;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;

    gap: var(--sm);
}

.popular_category {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;

    max-height: 10rem;
}

.popular_category:hover {
    border: var(--border-width) solid var(--border-color-hover);
}

.popular_category:hover .popular_category_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.popular_category:hover p {
    background-color: var(--bg-color-secondary-hover);
    border: var(--border-width) solid var(--border-color-hover);
}

.popular_category img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.popular_category p {
    position: absolute;
    padding: var(--sm);
    left: var(--sm);
    bottom: var(--sm);
    z-index: 1999;
    text-align: center;
    font-size: var(--font-normal);
    color: var(--text-black);
    font-weight: bold;
}

.category_text {
    font-size: var(--font-normal);
}

/* Categories */

.categories {
    grid-area: categories;

    display: flex;
    flex-direction: column;
    gap: var(--sm);
}

.categories_internal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: var(--sm);
}

.category {
    text-align: center;
    color: var(--text-black);
    padding: var(--md);
    font-size: var(--font-normal);
    font-weight: bold;
}

.category:hover {
    background-color: var(--bg-color-secondary-hover);
    border: var(--border-width) solid var(--border-color-hover);
}


/*? Bottom area */
.bottom_area {
    grid-area: bottom_area;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "top_posts"
    "editor_picks";
    
    gap: var(--sm);
}

/*top posts*/
.top_posts {
    grid-area: top_posts;
    display: flex;
    flex-direction: column;
    gap: var(--sm);
}

.top_posts_list {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
}

.top_post {
    display: flex;
    align-items: center;
}

.top_post:hover {
    background-color: var(--bg-color-secondary-hover);
    border: var(--border-width) solid var(--border-color-hover);
}

.post_texts {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--sm);
    gap: var(--xs);
}

.post_texts * {
    text-align: left;
}

.post_texts p {
    font-size: var(--font-small);
    color: var(--text-gray);
}

.post_texts h3 {
    font-size: var(--font-normal);
    color: var(--text-black);
}

.post_image {
    width: min(var(--base-image-width), 50%);
    padding: var(--sm);
    overflow: hidden;
}

.post_image img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

/* Escolhas do editor */
.editor_picks {
    grid-area: editor_picks;
    display: flex;
    flex-direction: column;
    gap: var(--sm);
}

.editor_picks_list {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    padding: var(--sm);
    list-style-position: inside;
}

.editor_picks_list li a {
    text-align: left;
    font-size: var(--font-normal);
    color: var(--text-black);
}

.editor_picks_list li a:hover {
    text-decoration: underline;
    color: var(--text-gray);
}

/* somente mobile */
@media (max-width: 767px) {
    /** header */
    /* Sumir com o ícone do perfil*/
    .profile_link {
        display: none;
        width: 0px;
        height: 0px;
    }
    
    /* Sumir com o menu se não estiver ativo */
    .header_menu {
        display: flex;
        visibility: hidden;
        
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: var(--bg-color);
        border-bottom: var(--border-width) solid var(--border-color);
        z-index: 1000;
        
        transform: translateY(-100%);
        transition: transform 0.2s ease-in-out;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding-top: 4rem;
    }
    
    .menu_button.ativo + .header_menu {
        visibility: visible;
        transform: translateY(0);
    }
    
    .header_menu li{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .header_menu li a{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: var(--sm) 0 var(--sm) 0;
        
        border-top: var(--border-width) solid var(--border-color);
    }
    
    .header_link:hover {
        text-decoration: none;
        color: var(--text-black);
    }
    
    
    /** main - Index */
    /* popular categories */
    .popular_category {
        width: 100%;
    }
    
    .popular_categories_list {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    
    /* categories */
    .categories_internal {
        grid-template-columns: 1fr 1fr;
    }
    
    .category {
        padding: var(--sm);
    }
    
    /* top posts*/
    .top_post {
        flex-direction: column;
    }
    
    .post_texts {
        width: 100%;
    }
    
    .post_image {
        width: 100%;
    }
}

/** Main - Login/Cadastro */
.main_login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--md);
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--md);
    padding: var(--lg);

    width: 100%;
}

.login_title {
    width: 100%;
}

.login_input {
    border: var(--border-width) solid var(--border-color);
    flex: none;
    width: 100%;
}

.login_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sm);
    width: 100%;
}

.login_buttons button {
    flex: 1;
}

.button_enter {
    min-width: 50%;
}

.button_google {
    gap: var(--sm);
    text-wrap: nowrap;
}

.google_icon {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
}

.login_links {
    width: 100%;
}

.login_links a {
    color: var(--text-black);
}

.login_links a:hover {
    text-decoration: underline;
    color: var(--text-gray);
}

.login_checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--sm);
}

.button_create {
    width: 100%;
}

/** footer */
footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: var(--bg-color);
    border-top: var(--border-width) solid var(--border-color);

    padding: var(--md);
}

.copyright {
    color: var(--text-gray);
    font-size: var(--font-small);
    text-align: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--sm);
    margin-bottom: var(--sm);
}

.social_icon {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
}

/* tablet */
@media(min-width: 768px) {
    /** header */
    header {
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas: "logo nav search profile";
    }

    /* Sumir com o link do perfil */
    .profile_link_menu {
        display: none;
        width: 0px;
        height: 0px;
    }

    .menu_button {
        display: none;
        width: 0px;
        height: 0px;
    }

    .header_menu {
        display: flex;
        justify-content: center;
        gap: var(--sm);
    }

    .profile_link {
        display: flex;
        width: var(--profile-icon-size);
        height: var(--profile-icon-size);
    }

    /** main - Index */

    /*popular categories */
    .popular_categories_list {
        flex-direction: row;
    }

    .popular_category {
        max-height: 10rem;
    }

    .introduction_image {
        max-width: 70%;
    }

    /** main - login */
    .login {
        max-width: 46rem;
    }
}    

/* desktop */
@media (min-width: 1120px) {
    /** header */

    .search {
        max-width: 40rem;
    }

    /** main - Index */
    .introduction {
        flex-direction: row;
    }

    .introduction_image {
        margin-left: var(--xl);
        max-width: 40%;
    }

    /*? Bottom area */
    .bottom_area {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "top_posts editor_picks";
    }

    .editor_picks nav {
        height: 100%;
    }
}
